@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-climate);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}